body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background: #ffffff;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button { 
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------------HEADER------------------- */
.header {

}

.header-container {
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}

.header-logo-padding {
  padding-top: 25.5px;
  padding-bottom: 25.5px;
}

.header-navigation {
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-white {
  color: #2e2f42;
}

.header-list {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-item {
}

.header-menu-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-menu-link:focus,
.header-menu-link:hover {
  color: var(--OCEAN, #404bbf);
}

/* --------------------------------------------------------- */
/* ---------------------------ADDRESS----------------------- */

.address {
  font-style: normal;
}

.address-list {
}

.address-item {
}

.address-link {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* --------------------------------------------------------- */

/* ---------------------------HERO----------------------- */
.hero {
  
}

.hero-container {
  background-color: var(--NAVY-BLUE, #2e2f42);
  padding-top: 188px;
  padding-bottom: 292px;
}

.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 496px;
  width: 100%;
}

.hero-service-btn {
  background-color: #4d5ae5;
  color: var(--WHITE, #fff);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.15);
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 32px;
}

.hero-service-btn:hover,
.hero-service-btn:focus {
  background-color: #404bbf;
}

/* --------------------------------------------------------- */
/* ------------------Strategy----------------- */
.strategy {
}

.strategy-container {
background-color: #fff;
}

.strategy-title {
}

.strategy-list {
  width: 100%;
  max-width: 264px;

}

.strategy-item {
  padding-top: 120px;
  padding-bottom: 120px;
}

.strategy-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.strategy-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ----------------------------------------------- */

/* --------------------PEOPLE--------------------- */
.people {

}

.container-people {
  background: var(--CLOUD, #f4f4fd);
}

.people-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
}

.people-list {
}

.people-item {
  background-color: #ffffff;
}

.people-photo {
}

.people-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.people-item-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ----------------------------------------------- */

/* ---------------- PORTFOLIO ---------------------*/
.portfolio {

}

.container-portfolio {
  background: #FFF;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 120px;
  padding-bottom: 72px;
  margin: 0 auto;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-photo {
}

.portfolio-subtitle {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ----------------------------------------------------------- */

/* ----------------------------FOOTER---------------------------------- */

.footer {
  
}

.footer-container {
  background: #2e2f42;
}

.footer-logo-padding {
padding-top: 101.5px;
}

.footer-menu-link {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 17.5px;
  width: 100%;
  max-width: 264px;
  padding-bottom: 100px;

}

/* ------------------------------------------------------------ */
